body {
  font-size: 16px;
  color: #fff;
  background-color: #FFF;
  font-family: 'Oxygen', sans-serif;
  overflow-x: hidden;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  height: auto;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: center;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #000000;
  text-align: center;
  border: 2px solid #000000;
  background-color: white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header{
  background-color: #A7A7A7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
}
/* END HEADER */

div.menu-heading{
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}

div.inner {
  background-color: #A9A9A9;
  width: 90%;
  color: black;
  height: 1000px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

p.heading{
  color: #000000;
  width: 10%;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

p.content{
  color: #000000;
  width: 100%;
  text-align: justify;
  margin-top: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
 #header-nav{
  background-color: #A7A7A7;
 }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
   #header-nav{
  background-color: #A7A7A7;
 }
  /* Header */
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   #header-nav{
  background-color: #A7A7A7;
 }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    margin-top: 0 0 auto auto;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}
